$coklat :#f5ebe0;
$coklatTua:#d6ccc2;
$coklatTuabgt:#997b66;

.container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 50%;
    background-color: $coklatTua;
    margin: auto;
}

.body {
    margin-top: 20px;
    padding-top:10%;
    padding-bottom: 50px;
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-items: center;
    justify-content: center;

}